#hero {
  width: 100%;
  padding-top: 10vw;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}
#hero_info_box {
  display: inline-block;
  margin-left: 7vw;
  width: 40%;
  height: fit-content;
}
#hero_info_box h1 {
  font-size: 3.5vw;
  color: rgb(31, 31, 31);
}
#hero_info_box p {
  margin-top: 20px;
  font-size: 1.2vw;
  color: rgb(68, 68, 68);
  line-height: 1.6vw;
}
#hero_info_box #hero_btns {
  margin-top: 20px;
}
#hero_info_box #hero_btns #btn2 {
  margin-left: 1.5vw;
  background-color: aliceblue;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(128, 128, 128);
  font-weight: 500;
  cursor: pointer;
}
#hero_info_box #hero_btns #btn2:hover {
  border-color: rgb(104, 104, 104);
  color: rgb(66, 66, 66);
  background: inherit;
}
#hero_pic_box {
  position: relative;
  display: inline-block;
  height: fit-content;
}
#hero_pic_box img {
  position: relative;
  bottom: 5vw;
  right: 2vw;
  width: 45.839vw;
}
#hero_pic_box #hero_pic_bg {
  background-color: hsl(231, 69%, 60%);
  width: 34vw;
  height: 20vw;
  position: absolute;
  right: 0;
  top: 30%;
  border-radius: 100vw 0 0 100vw;
  z-index: -1;
}
#features {
  width: 100%;
  height: fit-content;
  background-color: aqua;
  text-align: center;
}
#features #features_title {
  font-size: 2.3vw;
  font-weight: 500;
  color: rgb(51, 51, 51);
}
#features #features_des {
  width: 40%;
  font-size: 1.2vw;
  color: rgb(110, 110, 110);
  line-height: 1.6vw;
  margin: auto;
  margin-top: 2vw;
}
